@{
    ViewData["Title"] = "Mert Ağralı - CV";
}

<div class="container mt-5">
    <div class="card shadow-lg p-4" style="background-color: #f4f4f4; color: #333;">
        <div class="row align-items-center">
            <div class="col-md-4 text-center">
                <img src="~/images/profile.jpg" alt="Mert Ağralı" class="rounded-circle img-fluid border border-dark p-2" style="width: 180px; height: 180px;">
            </div>
            <div class="col-md-8 text-md-start text-center">
                <h1 class="fw-bold">Mert Ağralı</h1>
                <h4 class="text-muted">Back-End Developer</h4>
                <hr>
                <h5>İletişim</h5>
                <p><i class="bi bi-geo-alt"></i> <strong>Adres:</strong> Avcılar, İstanbul, 34310, Türkiye</p>
                <p><i class="bi bi-telephone"></i> <strong>Telefon:</strong> +90 532 614 19 43</p>
                <p><i class="bi bi-envelope"></i> <strong>Email:</strong> mmertagrali@gmail.com</p>
            </div>
        </div>
        <hr>
        <h5>Hakkımda</h5>
        <p>Bilgisayar Programcılığı bölümünden 2021 yılında mezun olduktan sonra, Yönetim Bilişim Sistemleri alanında eğitimime devam ediyorum. İstanbul Nişantaşı Üniversitesi'ne 2024 yılında yatay geçiş yaptım. Back-End geliştirme alanında kendimi geliştiriyorum ve en son yazılım trendlerini takip ediyorum. Çok disiplinli ortamlarda deneyime sahibim, takım çalışmasına yatkınım ve girişimci bir ruhum var. İlgi alanlarım arasında fitness, sosyalleşme ve yatırım bulunmaktadır.</p>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <h5>Bağlantılar</h5>
                <ul class="list-group">
                    <li class="list-group-item"><a href="https://www.linkedin.com/in/mert-ağralı-21139a238/" target="_blank">LinkedIn</a></li>
                    <li class="list-group-item"><a href="https://www.mertagrali.com" target="_blank">Portfolio</a></li>
                    <li class="list-group-item"><a href="https://github.com/mertagralii" target="_blank">GitHub</a></li>
                </ul>
                <hr>
                <h5>Yetenekler</h5>
                <ul class="list-group">
                    <li class="list-group-item">C#</li>
                    <li class="list-group-item">.NET</li>
                    <li class="list-group-item">SQL</li>
                    <li class="list-group-item">ASP.NET Core MVC</li>
                    <li class="list-group-item">HTML5, CSS, Bootstrap</li>
                    <li class="list-group-item">Git</li>
                </ul>
                <hr>
                <h5>Referanslar</h5>
                <ul class="list-group">
                    <li class="list-group-item">Orhan Ekici - Acunmedya Akademi</li>
                    <li class="list-group-item">Tel: 05413045074</li>
                    <li class="list-group-item">Email: orhanekici@gmail.com</li>
                </ul>
                <hr>
                <h5>Diller</h5>
                <ul class="list-group">
                    <li class="list-group-item">Türkçe - Ana Dil</li>
                    <li class="list-group-item">İngilizce - Orta Seviye</li>
                </ul>
            </div>
            <div class="col-md-8">
                <h5>Eğitim</h5>
                <ul class="list-group">
                    <li class="list-group-item">
                        <strong>İstanbul Nişantaşı Üniversitesi - Yönetim Bilişim Sistemleri</strong> (2024 - Devam Ediyor)
                        <p>Yatay geçiş ile geçiş yaptım, bilişim sistemleri ve veri yönetimi üzerine çalışıyorum.</p>
                    </li>
                    <li class="list-group-item">
                        <strong>Acunmedya Akademi - Back-End Yazılım Eğitimi</strong> (2025)
                        <p>ASP.NET Core MVC, SQL ve yazılım geliştirme süreçlerini öğrendim.</p>
                    </li>
                    <li class="list-group-item">
                        <strong>İstanbul Gelişim Üniversitesi - Yönetim Bilişim Sistemleri</strong> (2023 - 2024)
                        <p>1 yıl süresince eğitim aldım, ardından yatay geçiş yaptım.</p>
                    </li>
                    <li class="list-group-item">
                        <strong>Necmettin Erbakan Üniversitesi - Bilgisayar Programcılığı</strong> (2019 - 2021)
                        <p>Bilgisayar programcılığı bölümünü 2.87/4.00 GPA ile tamamladım.</p>
                    </li>
                </ul>
                <hr>
                <h5>Deneyim</h5>
                <ul class="list-group">
                    <li class="list-group-item">Back-End Developer - Freelance Projeler</li>
                    <li class="list-group-item">Stajyer - Yazılım Geliştirme, Acunmedya Akademi</li>
                </ul>
                <hr>
                <h5>Sertifikalar</h5>
                <ul class="list-group">
                    <li class="list-group-item">ASP.NET Core MVC Eğitimi - Acunmedya Akademi</li>
                    <li class="list-group-item">Veritabanı Yönetimi - SQL & .NET</li>
                </ul>
                <hr>
                <h5>Projeler</h5>
                <ul class="list-group">
                    <li class="list-group-item"><a href="https://github.com/mertagralii/BlogSitesi" target="_blank">Blog Sitesi</a> - ASP.NET Core MVC ve SQL ile geliştirildi.</li>
                    <li class="list-group-item"><a href="https://github.com/mertagralii/MenuSistemi" target="_blank">Menü Sistemi</a> - ASP.NET Core MVC ve SQL ile geliştirildi.</li>
                    <li class="list-group-item"><a href="https://github.com/mertagralii/Hal_Sistemi" target="_blank">Hal Sistemi</a> - .NET Windows Form ve SQL ile geliştirildi.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
